<header>
  <nav class="">
    <ul class="no-list row center-xs middle-xs">
      <li class="col-md center-xs">
        <!-- Antes : <a href="/">Index</a> -->
        <%= link_to 'Index', root_path %>
      </li>
      <% if logged_in? %>
        <li class="col-md center-xs">
        <!-- Antes : <a href="/users/:id">User Profile</a> -->
        <!-- Ahora: -->
          <%= link_to 'URLs', user_urls_path(current_user.id) %>
        </li>
        <li class="col-md center-xs">
          <%= link_to 'Logout', logout_path %>
        </li>
      <% else %>
        <li class="col-md center-xs">
          <%= link_to 'Login', login_path %>
        </li>
        <li class="col-md center-xs">
          <%= link_to 'Signup', signup_path %>
        </li>
      <% end %>
    </ul>
  </nav>  
</header> 
<% if flash[:success] %>
  <p class="flash_success"><%= flash[:success] %></p><hr>
<% end %>
<% if flash[:error] %>
  <p class="flash_error">
    <% if flash[:error].include?"&&&" %>
      <% errors = flash[:error].split("&&&")%>
        <% errors.each do |error| %>
        <%= error %><br>
      <% end %>
    <% else %>
      <%= flash[:error] %>
    <% end %>
  </p><hr>
<% end %>
